@model IEnumerable<PassionProject_Danyal.Models.DriverDto>

@{
    ViewBag.Title = "List";
}

<h2>Drivers</h2>

<p>
    @Html.ActionLink("Add New Driver", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Abbreviation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TeamName)
    </td>
    <td>       
        <p class="detailbutton"> @Html.ActionLink("View Profile", "Details", new { id = item.DriverID }) </p>
    </td>
</tr>
}

</table>
