@model PassionProject_Danyal.Models.ViewModels.ShowSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Race Details</h2>

<div>
    <div>@Html.ActionLink("Edit", "Edit", new { id = Model.schedule.RaceID }) | @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.schedule.RaceID })</div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.schedule.Round)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule.Round)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule.Circuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule.Circuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.schedule.Abbreviation) 
        </dt>

        <dd>
            @Html.ActionLink(Model.schedule.Abbreviation, "Details", "Driver", new { id = Model.schedule.DriverID }, new { }) 
        </dd>
    </dl>
</div>
<p>    
    @Html.ActionLink("Back to List", "List")
</p>
