@model PassionProject_Danyal.Models.ViewModels.ShowTeam

@{
    ViewBag.Title = "Details";
}

<h2>Team Profile</h2>

<div>    
    
    <div> @Html.ActionLink("Edit", "Edit", new { id = Model.team.TeamID }) | @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.team.TeamID })</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team.TeamColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.TeamColor)
        </dd>

    </dl>
</div>
<div style="float:right;margin-right:0%; margin-top:-7%; width:49%;">
    <div>
        <h4>Drivers:</h4>
        <div>
            @foreach (var driver in Model.teamdrivers)
            {
                <div>
                    @Html.ActionLink(driver.Name + " " + driver.Nationality, "Details", "Driver", new { id = driver.DriverID }, new { })
                </div>
            }
        </div>
    </div>

</div>
<div style="clear:both;">

    <p>       
        @Html.ActionLink("Back to List", "List")
    </p>
</div>