@model IEnumerable<PassionProject_Danyal.Models.TeamDto>

@{
    ViewBag.Title = "List";
}

<h2>Teams</h2>

<p>
    @Html.ActionLink("Add New Team", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamColor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamColor)
        </td>
        <td>
            <p class="detailbutton"> @Html.ActionLink("View Profile", "Details", new { id = item.TeamID })</p>
        </td>
    </tr>
}

</table>
